/*PAGINA PRINCIPAL*/

.navbar {
  border-radius: 0px;
  background:#006666;
  border: none;
}

#navfontcolor p, #navfontcolor a{
  color: white;
}

.glyphicon-user{
  margin-left: 15px;
}

.formatonota {
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  margin: 1% 4.15%;
  font-size: 18px;
  background-color: #ffccff;
  padding: 5px 10px 0px 5px;
  height: 90px;
  position: relative;

}
.titulo-nota{
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  height: 55px;
}

.ver-nota{
  font-size: 15px;
  position: absolute;
  bottom: 0;
  background-color: #ffccff;
}
.borde-div-notas{
  border: 1px solid pink;
  margin: 0% 4.15%;
  padding-bottom: 2%;

}

#nueva-nota{
  border: 1px solid blue;
  border-radius: 2px;
  padding: 1px;
}
div>h3{
  text-align: center;
}
/*---------------------------- fin pagina principal------------------------*/
/*------------- Login ------------------------------------------ */
#login {
  padding-top: 10%;

}
html, body{
  height: 100%;
}
#body-login{
  background-image: url("notebook.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
}


#login h1 {
  color: #0B610B;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
  padding-left: 3%;
}
#login .form-group {
  width: 35%;
  margin: auto;
  margin-bottom: 25px;
  padding-left: 3%;
}

.btn-login{
  background-color: #0B610B;
  color: white;
}

@media screen and (max-width:685px) {
  #login h1 {
    font-size: 22px;
    padding-top: 20px;
  }
  #login .form-group {
      width: 40%;
  }
}
@media screen and (max-width:570px) {

  #login h1 {
    padding-top: 35px;
  }

  #login .form-group {
      width: 50%;
  }

  .btn-login{
        padding: 5px;
  }
}

@media screen and (max-width:400px) {
  #login h1 {
    font-size: 22px;
  }

  #login .form-group {
      margin-bottom: 15px;
      width: 60%;
  }

  .btn-login{
    height: 30px;
    font-size: 13px;
    padding: 5px;
  }
  #body-login{
    background-image: none;
    background: linear-gradient(white, #A4A4A4);
    background-repeat: no-repeat;
  }
}
