/*Esto no hay que añadirlo*/
html{
  height: 100%;
}
body{
  overflow-x: hidden;
  height: 100%;
  overflow-y: hidden;
}
.navbar {
  border-radius: 0px;
  background:#006666;
  border: none;
  margin-bottom: 0px;
}

#navfontcolor p, #navfontcolor a{
  color: white;
}

/* A partir de aqui si */
#nueva-nota
{
  padding-left:50px;
  text-align: center;
  margin-top: 10%;
}
#fondo
{
  background-image: url("postit_transp.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100%;
}

.colorCabecera
{
  color:#0B610B;
}

@media screen and (max-width: 1000px){
  textarea{
    width: 30%;
  }
}

@media screen and (max-width: 850px){
  textarea{
    width: 35%;
  }
}

@media screen and (max-width: 768px){
  ul>li>p{
    margin-left: 15px;
  }
}
@media screen and (max-width: 700px){
  textarea{
    width: 250px;
  }
}

@media screen and (max-width: 650px){
  #fondo{
    padding-top: 30px;
  }
}

@media screen and (max-width: 400px){
  #fondo{
    background-image: none;
  }
  #nueva-nota
  {
    padding-left:10px;
  }
}
